<!DOCTYPE html>
<html>

<body>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="">
                        <div style="text-align: left;"><span style="text-align: center; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; background-color: rgb(0, 0, 0);">İstediğiniz bir Kategori seçin!</span></div>
                    </h3><i class="fa fa-2x fa-film"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4 bg-light" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)); background-position: left top; background-size: 100%; background-repeat: repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-4" style=""><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=28">Action</a></div>
                <div class="col-md-4"><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=12">Adventure</a></div>
                <div class="col-md-4"><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=16">Animation</a></div>
            </div>
            <div class="row">
                <div class="col-md-4" style=""><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=35">Comedy</a></div>
                <div class="col-md-4"><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=80">Crime</a></div>
                <div class="col-md-4"><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=99">Documentary</a></div>
            </div>
            <div class="row">
                <div class="col-md-4" style=""><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=18">Drama</a></div>
                <div class="col-md-4"><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=10751">Family</a></div>
                <div class="col-md-4"><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=14">Fantasy</a></div>
            </div>
            <div class="row">
                <div class="col-md-4"><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=36">History</a></div>
                <div class="col-md-4"><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=27">Horror</a></div>
                <div class="col-md-4"><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=10402">Music</a></div>
            </div>
            <div class="row">
                <div class="col-md-4"><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=9648">Mystery</a></div>
                <div class="col-md-4"><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=10749">Romance</a></div>
                <div class="col-md-4"><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=878">Science Fiction</a></div>
            </div>
            <div class="row">
                <div class="col-md-4"><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=10770">TV Movie</a></div>
                <div class="col-md-4">
                    <a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=53">Thriller</a>
                    <div class="row">
                        <div class="col-md-12"><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=10752">Western</a></div>
                    </div>
                </div>
                <div class="col-md-4"><a class="btn btn-dark w-100 border-bottom" href="KategoriAra?genre_ids=37">War</a></div>
            </div>
        </div>
    </div>
 
</body>

</html>
