<!DOCTYPE html>
<html>

<body>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="" contenteditable="true">
                        <div style="text-align: left;">Hakkında</div>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4 bg-light" style="	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 p-3">
                    <div class="card box-shadow">
                        <div class="card-body">
                            <p class="">
                                CineMagic, sinema dünyasına kapılarınızı aralayan ve filmlere dair zengin bir bilgi kaynağı sunan interaktif bir platformdur. Sinema tutkunlarının en sevdikleri filmleri keşfetmelerini, detaylı bilgilere erişmelerini ve keyifli bir deneyim yaşamalarını amaçlayan bu platform, kullanıcıların filmleri ada veya kategoriye göre aramalarını sağlar. TMDb'den elde edilen verilere dayanarak, kullanıcılar istedikleri filmleri kolayca bulabilir ve ilgili bilgileri inceleyebilirler. Sitenin mottosu "Sinemanın büyülü dünyasına hoş geldiniz"dir ve bu motto, ziyaretçilere sinemanın büyüsünü yaşamak ve keşfetmek için bir davet sunar. CineMagic, sinema tutkunları için vazgeçilmez bir kaynak olmayı hedefler ve herkesin sinemanın zengin dünyasına erişim sağlamasını amaçlar.
                            </p>
                            <p class="">
                                Misyon: "CineMagic, sinema tutkunlarının zengin bir sinema deneyimi yaşamalarını sağlamak için titizlikle seçilmiş ve güvenilir bilgiler sunar. Misyonumuz, herkesin sinemanın büyülü dünyasına adım atmasını sağlamak ve bu deneyimi paylaşmaktır."
                            </p>
                            <p class="">
                                Vizyon: "CineMagic, sinema dünyasının önde gelen bir kaynağı olmayı hedefler. Vizyonumuz, sinemaya dair zengin bir içerik platformu oluşturarak kullanıcılarımıza keyifli ve öğretici bir deneyim sunmaktır. Sürekli gelişen ve yenilenen bir kaynak olmak, sinema tutkunlarının en çok ziyaret ettiği ve güvendiği bir platform olmak için çalışıyoruz. Sinema dünyasına dair her şeyi CineMagic'te bulabileceğiniz bir ortaklık kurmayı hedefleriz."
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>